.green{
	width: 100%;
	height: 50px;
	background-color: green;
}
.blue{
	width: 80%;
	height: 100px;
	margin: 10px 10%;
	background-color: blue;
}
.red{
	width: 39%;
	height: 20px;
	background-color: red;
	float: left;
	margin-left: 10%;
	margin-right: 2%;
}
.purple{
	width: 39%;
	height: 20px;
	background-color: purple;
	float: left;
}